*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: pressStart2P, sans-serif; }

body {
  background-color: #111111;
  box-sizing: border-box; }

@font-face {
  font-family: pressStart2P;
  src: url(../css/PressStart2P.ttf); }

@-webkit-keyframes STAR-MOVE {
  from {
    left: 0;
    top: 0; }
  to {
    left: -7000px;
    top: -1500px; } }

@keyframes STAR-MOVE {
  from {
    left: 0;
    top: 0; }
  to {
    left: -7000px;
    top: -1500px; } }

#background {
  background: url(../images/background.png) repeat 5% 5% fixed;
  position: absolute;
  opacity: 15%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation-name: STAR-MOVE;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; }

#midground {
  background: url(../images/midground.png) repeat 20% 20%;
  position: absolute;
  opacity: 15%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  animation-name: STAR-MOVE;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 150s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; }

#foreground {
  background: url(../images/foreground.png) repeat 35% 35%;
  position: absolute;
  opacity: 15%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  animation-name: STAR-MOVE;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; }

.footer {
  z-index: 1000;
  background-color: #9E768F;
  width: 100vw;
  height: 6rem;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 93.75em) {
    .footer {
      position: relative; } }
  @media (max-width: 43.75em) {
    .footer {
      flex-direction: column;
      justify-content: space-evenly; } }
  .footer__email {
    color: white; }
    .footer__email:hover {
      color: #b3b3b3; }

.navbar {
  z-index: 1001;
  background-color: #9E768F;
  width: 100vw;
  position: fixed;
  height: 6rem;
  display: flex;
  justify-content: center; }
  .navbar__logo {
    width: 30rem;
    height: auto;
    padding: 1rem 2rem; }

.game-info {
  z-index: 1000;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  margin-top: 2rem; }
  @media (max-width: 93.75em) {
    .game-info {
      flex-direction: column; } }
  @media (max-width: 62.5em) {
    .game-info {
      padding: 0; } }
  .game-info__info-text {
    padding-left: 4rem; }
  .game-info__heading {
    padding: 2rem 0;
    font-size: 1.8rem; }
  .game-info__game-banner {
    border-radius: 5px; }
    @media (max-width: 62.5em) {
      .game-info__game-banner {
        width: 100%;
        height: auto; } }
  .game-info__coming-soon {
    font-size: 3rem;
    padding: 3rem 0; }
  .game-info__link:link, .game-info__link:visited {
    text-decoration: none;
    color: #F8F4E3; }
  .game-info__link:hover {
    color: #845d75;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4); }

.info {
  z-index: 1000;
  position: relative;
  opacity: 90%;
  color: #F8F4E3;
  padding: 12rem 0;
  margin: 0 8rem;
  font-size: 1.2rem; }
  @media (max-width: 43.75em) {
    .info {
      margin: 0;
      padding: 6rem 0 0 0; } }
  .info__container {
    background-color: #020014;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 2rem; }
  .info__link:link, .info__link:visited {
    color: #F8F4E3; }
  .info__link:hover {
    color: #9E768F; }
  .info__paragraph {
    padding: 1rem 0 3rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd; }
