*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

body {
  background-color: #F7ECE1;
  box-sizing: border-box; }

.navbar {
  background-color: #9E768F;
  width: 100vw;
  position: fixed;
  height: 6rem;
  z-index: 100; }
  .navbar__logo {
    width: 30rem;
    height: auto;
    padding: 1rem 2rem; }

.info {
  padding-top: 8rem;
  margin: 0 8rem;
  font-size: 1.6rem; }
  .info__container {
    background-color: white;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 2rem; }
  .info__link:link, .info__link:visited {
    color: black; }
