*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

body {
  background-color: #F7ECE1;
  box-sizing: border-box; }

.navbar {
  background-color: #9E768F;
  width: 100vw;
  position: fixed;
  height: 6rem;
  display: flex;
  justify-content: center; }
  .navbar__logo {
    width: 30rem;
    height: auto;
    padding: 1rem 2rem; }

.game-info {
  padding: 0 8rem;
  display: flex;
  align-items: center; }
  .game-info__info-text {
    padding-left: 4rem; }
  .game-info__list {
    list-style-type: none; }
  .game-info__heading {
    line-height: 5rem; }
  .game-info__game-banner {
    border-radius: 5px; }
  .game-info__coming-soon {
    font-size: 3rem;
    padding: 3rem 0; }

.info {
  padding-top: 12rem;
  margin: 0 8rem;
  font-size: 1.6rem; }
  .info__container {
    background-color: white;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 2rem; }
  .info__link:link, .info__link:visited {
    color: black; }
  .info__paragraph {
    padding: 1rem 0 3rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd; }
