.footer {
    z-index: 1000;
    color: $text-color;
    background-color: $navbar-bg-color;
    width: 100vw;
    height: 7rem;
    position: fixed;
    bottom: 0;
    @include respond(tab-land) {
        position: relative;
    }
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    &__email {
        &:link,
        &:visited {
            color: $text-color;
        }
        &:hover {
            color: darken(white, 30%);
        }
    }
    &__design {
        right: 2rem;
        font-size: 1rem;
        font-family: sans-serif;
        color: $grey-color;
        &--link {
            &:link,
            &:visited {
                color: $grey-color;
                text-decoration: none;
            }
        }
    }
}