.navbar {
    z-index: 1001;
    font-size: 1.5rem;
    background-color: $navbar-bg-color;
    width: 100vw;
    position: fixed;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
}