.navbar {
    z-index: 1000;
    background-color: $navbar-bg-color;
    width: 100vw;
    position: fixed;
    height: 6rem;
    display: flex;
    justify-content: center;
    &__logo {
        width: 30rem;
        height: auto;
        padding: 1rem 2rem;
    }
}