.info {
    padding-top: 8rem;
    margin: 0 8rem;
    font-size: 1.6rem;
    &__container {
        background-color: white;
        box-shadow: 0 2rem 2rem rgba($color-black, 0.4);
        border-radius: 5px;
        padding: 2rem;
    }
    &__link {
        &:link,
        &:visited {
            color: black;
        }
    }
}